body {
  font-size: 16px;
  font-family: 'Helvetica', Arial, sans-serif;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #36c;
  letter-spacing: 0.5px;
}

header h1 {
  font-size: 1.5rem;
  background: linear-gradient(to right, #006847 0%, #e3871c 50%, #ce1225 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main > div {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

main img {
  border-radius: 2px;
  width: 100%;
  max-height: 15em;
  object-fit: cover;
  height: auto;
}

main section {
  border: 1px solid #EAECF0;
  border-radius: 2px;
  padding: 1.5rem;
}

main section h3 {
  font-family: 'Georgia', 'Times New Roman', 'Times', serif;
  margin: 0;
}

main section p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

main section a {
  font-size: 0.75rem;
  font-weight: bold;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

footer > section {
  background: #F8F9FA;
  border: 1px solid #EAECF0;
  border-radius: 2px;
}

.visit {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 1.3rem 0;
}

.visit > div {
  min-width: 100%;
}

.visit a {
  display: block;
  background: #fff;
  font-weight: normal;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #999;
  text-transform: none;
  margin: 1rem;
  font-size: 1rem;
}

.app {
  width: 100%;
  display: flex;
  padding: 1.3rem;
  color: #37393d;
}

.app img {
  height: 120px;
}

.app section {
  padding-left: 0.5rem;
}

.app h4 {
  letter-spacing: 0.8px;
  margin: 0;
}

.app p {
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  line-height: 1.4;
}

.app ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app ul li {
  display: inline;
}

.app ul li a {
  height: 20px;
  background-repeat: no-repeat;
  padding-left: 17px;
  background-position: center left;
  background-size: 12px;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 1.7;
}

.app ul li a img{
  height: 20px;
}

.app .google {
  margin-left: 20px;
  list-style: disc !important;
}

.google a {
  background-image: url('android.svg');
}

.apple a {
  background-image: url('apple.svg');
}


/* Mobile Styles */
@media only screen and (max-width: 800px) {
  .page {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    margin-bottom: 2rem;
  }

  header img {
    width: 70%;
    margin-top: 3rem;
  }

  main section {
    margin-top: 1px;
  }

  .visit {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .app ul li a {
    display: block;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 800px) {
  .page {
    width: 50rem;
    margin: 0 auto;
  }

  header img {
    height: 5rem;
    margin-top: 5rem;
  }

  header h1 {
    font-size: 1.8rem;
  }

  header p {
    font-size: 1.25rem;
  }

  main h2 {
    margin-top: 5rem;
  }

  main img {
    max-width: 320px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  main section {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  main > div {
    flex-wrap: nowrap;
  }

  footer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: nowrap;
  }

  .visit {
    max-width: 320px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .app {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
